@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: oklch(96.7% 0.003 264.542);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: oklch(92% 0.004 286.32);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: oklch(70.5% 0.015 286.067);
}